
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px;
    
}
.round-image {
    width: 100px;         
    height: 100px;
    border-radius: 50%;
    object-fit: cover;    
    overflow: hidden;
	align-items: center;
	display: flex;
	margin: 10px;	

  }

.table{
    width: 500px;
    height: 300px;
}
